{% extends "index.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/portfolio.css">
{% endblock %}

{% block main %}
<div class="portfolio-container">
    <table class="portfolio">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.price * stock.shares }}</td>
                <td>{{ stock.profit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}